body {
    background-image: url('./images/blueswirl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    overflow: auto;
    flex: 1;
}