button {
    background-color: rgb(33, 66, 150);
    color: aqua;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    color: red;
    cursor: pointer;
}

button:active {
    color: rgb(0, 255, 30);
    background-color: blue;
}

.section {
    margin: 1rem;
}

.container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}