button {
    background-color: rgb(33, 66, 150);
    color: aqua;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    color: red;
    cursor: pointer;
}

button:active {
    color: rgb(0, 255, 30);
    background-color: blue;
}

.section {
    margin: 1rem;
}

div>.container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    color: aqua;
    text-decoration: none;
    font-size: 14px
}

.link:hover {
    color: yellow;
}

.link:active {
    color: rgb(38, 104, 128);
}

#anchor {
    color: aqua;
    text-decoration: none;
}

.find {
    color: white;
    font-size: 14px;
}

body {
    background-image: url('./images/bluediamond.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#contact_main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
}