body {
    background-image: url('./images/blueribbon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}