/* Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    line-height: 1.6;    
    background-image: url("./images/teal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.about-me-email {
    color: #61dafb;
    text-decoration: none;
}

.about-me-email:hover {
    color: #0fa9c1;
}

.about-me-email:active {
    color: #124047;
}

.about-me-email:visited {
    color: #61dafb;
}

.about-me-email:focus {
    margin-top: 0;
    margin-bottom: 2.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    overflow: auto;
    flex: 1;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #183250;
    color: #fff;
    text-align: center;
    border-top: 3px solid #61dafb;
    padding: 10px;
}

h2 {
    font-size: 2em;
    text-align: center;
}

header {
    background: #282c34;
    color: #fff;
    padding: 10px 0 !important;
    margin: 0 !important;
    border-bottom: 3px solid #61dafb;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #183250;
}

header a {
    color: #61dafb;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: color 0.3s ease;
}

header a:hover {
    color: #0fa9c1;
}

header li {
    padding: 0 20px;
}

header ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: 3rem;
    padding: 20px;
    margin-bottom: 3rem;
}

.main {
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    justify-content: center;
    background-position: center;
    min-height: 50vh;
    background-color: transparent;
}

.main h1 {
    font-size: 2em;
    color: #282c34;
}

.main p {
    line-height: 1.6;
    text-align: center;
}

.menu-toggle {
    cursor: pointer;
    background-color: #61dafb;
    color: #282c34 !important;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: none;
    margin: 0 auto;
}

.menu-toggle:hover {
    background-color: #0fa9c1;
}

.p {
    width: 90%;
}

.section {
    padding: 20px;
    margin: 20px 0;
    color: #fff;
    border-radius: 5px;
}

#experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

#name {
    font-size: 2em;
    color: #fff;
}

#profile {
    margin-bottom: 20px;
    border-radius: 50%;
    width: 150px;
}

#tech {
    text-align: center;
    color: #fff;
    padding-top: 2rem;
}

.main h1 {
    font-size: 2em;
    color: #282c34;
}

.main p {
    line-height: 1.6;
    text-align: center;
}

.menu-toggle {
    cursor: pointer;
    background-color: #61dafb;
    color: #282c34 !important;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: none;
    margin: 10px auto;
}

.menu-toggle:hover {
    background-color: #0fa9c1;
}

.section {
    padding: 20px;
    margin: 20px 0;
    color: #fff;
    border-radius: 5px;
}

#about_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

#name {
    font-size: 2em;
    color: #fff;
}

#profile {
    margin-bottom: 20px;
    border-radius: 50%;
    width: 150px;
}

.logo-container {
    width: 100%;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .container {
        width: 95%;
    }

    .main h1 {
        font-size: 1.8em;
    }

    .main p {
        font-size: 1.1em;
    }

    #name {
        font-size: 1.8em;
    }

    #profile {
        width: 130px;
    }

    .logos {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        gap: 2.5rem;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
        
    footer {
        padding: auto;
    }

    .main h1 {
        font-size: 1.5em;
    }

    .main p {
        font-size: 1em;
    }

    #name {
        font-size: 1.5em;
    }

    #profile {
        width: 100px;
    }

    .logos {
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        gap: 2rem;
    }
}

@media (max-width: 480px) {
    footer {
        padding: 10px;
    }

    header {
        flex-direction: column;
        padding: 10px 0;
    }

    header li {
        padding: 5px 0;
    }

    header ul {
        flex-direction: column;
    }

    .main {
        padding: 20px;
    }

    .main h1 {
        font-size: 1.2em;
    }

    .main p {
        font-size: 0.9em;
    }

    #profile {
        width: 80px;
    }

    .logos {
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
        gap: 1rem;
    }
}